[2015-03-30 21:16] surganov opened #4 "Each child in an array should have a unique "key" prop"
How to deal with this warning? How can I assign keys to rendered output?

[2015-04-10 23:22] lwansbrough opened #5 "Commas in output"
I'm seeing commas in the parser output (see here: https://github.com/lwansbrough/react-native-markdown/issues/4) -- perhaps having a look at my implementation code might also help debug this: https://github.com/lwansbrough/react-native-markdown/blob/master/Markdown.js#L40

Here's what it looks like: https://i.imgur.com/zIzROOt.png

[2015-04-10 23:26] xymostech commented on #5
What's the React Native code you're rendering to generate that screenshot?

[2015-04-10 23:27] lwansbrough commented on #5
[code]

[2015-04-10 23:38] spicyj commented on #5
This line's your problem:

https://github.com/lwansbrough/react-native-markdown/blob/master/Markdown.js#L52

`this.props.children` is an array in this case and so you end up with commas casting it like that. You probably want to use React.Children.forEach instead and build up a string yourself.

[2015-04-10 23:38] #5 closed

[2015-04-10 23:39] lwansbrough commented on #5
Argh, thanks.

[2015-04-10 23:48] ariabuckles commented on #4
Hi! I think the latest commit on master has this fixed! I haven't gone through to make all of the documentation 100% correct with this (I added a new `state` parameter to `output`/`react` extension methods) or npm published, but I intend to do those soon. Are you still seeing this?

[2015-04-10 23:48] #4 closed

[2015-04-26 10:41] surganov commented on #4
I installed latest version (0.0.2) via npm and trying to get this work without warnings:
[code]

But I still see this warning: `Each child in an array should have a unique "key" prop. Check the renderComponent call using <undefined>. See http://fb.me/react-warning-keys for more information.`

[2015-04-26 17:51] ariabuckles commented on #4
Sorry about that; I haven't updated the npm version in a while. I just updated it to 0.0.3; could you try that out and let me know if it works?

[2015-04-26 18:01] surganov commented on #4
It works! There's no warning messages this time. Thanks!

Also, I have an idea of using markdown with react via ES6 template tags:

[code]

(Consider it as feature request).

And why you don't use react-like AST? It should like this:

[code]

[2015-08-28 00:14] Radivarig opened #6 "Error on custom extension"
I've set the code for extension with underlineRule from README.md. At first everything seem to work, but I figured that it is so because the rule is already in the default ruleset. So, when I change regex to anything else and I parse the string that will match, I get the following error:
[code]

[2015-08-28 10:30] Radivarig commented on #6
I was missing `react: function (...` or `html: function (...`
I added one as found in other default rules and I get error:
[code]

[2015-08-28 18:23] ariabuckles commented on #6
Hi! Apologies on the underline rule; I've been meaning to remove underlines from the actual grammar and moving those over to extensions, which would make that example make more sense.

I don't think I fully understand what you mean--could you upload your code somewhere so I can check it out?

[2015-10-07 19:24] Radivarig commented on #6
Hi, this is the copy pasted example, with change of the rule name and regex from wrapping in `__` to `xx`. You will see the first error, and if you add the method above you will get the second error.

[code]

[2015-10-28 14:17] Radivarig commented on #6
This weekend I'll dedicate some time to the issue, so it would be cool if you'd take a look by then and write your thoughts on it to direct me on where the problem might be, I'll be glad to make a pull request (documentation and potential fixes) once we make it work. Thanks

[2015-10-28 15:19] ariabuckles commented on #6
Sorry, I just started a new job (and no longer work at KA). I'll try to see if I can figure out what's going on.

[2015-10-28 15:33] ariabuckles commented on #6
When I run the following code, I seem to get the expected output:

[code]

The changes I've made from yours are:

 * added require('React') (which you probably have in the global scope?)
 * changed the `output:` function to `react:` (like you mention)
 * changed the react rendering to console.logs so i could run it easily in node

Am I missing something else? does the above code work for you?

I'l

[2015-10-28 15:52] ariabuckles commented on #6
Hopefully some slightly better documentation here:

https://github.com/Khan/simple-markdown/commit/215c706fa295ebcdb6e4cee7ca5c7747d1050e7b

If you have questions on those changes I'd be happy to answer them when I have time, or if you have better ways of explaining anything, I'd be happy to accept a PR <3.

[2015-11-01 23:50] Radivarig commented on #6
It works, it's the same code but I use the latest of react and npm now, might have been improper dependencies nesting. Still thanks :)

[2015-11-01 23:50] #6 closed

[2015-11-02 17:24] ariabuckles commented on #6
Yay!

[2015-11-09 11:07] Radivarig opened #8 "Reverse/recursive regex matching"
Hi, my extension matches [string1]{string2} pattern. I'd need to match the same pattern or similar (that includes characters that break other patters) nested like this:
[code]
in the **inside out** order, so that it first evaluates match1 and match2 then match3 with replaced values of match1 and match2.
[code]
and finally
[code]
I was hoping that it can be done with the **order** of the extensions

[2015-11-09 17:24] ariabuckles commented on #8
The way I would try to structure this usually is so that the outer M3 match gets captured first, and then recurse with `parse` onto the text inside the `[]` and `{}`, capturing M1 and M2.

This gets tricky mostly because we need the outer regex to *not* end at the first `]` or `}`, since those close M1.

To solve this, I think it would be easiest to avoid using a regex matcher at all, but to build

[2015-11-09 20:22] Radivarig commented on #8
Awesome. Works perfectly. Thanks a bunch!

[2015-11-09 20:22] #8 closed

[2015-11-19 03:56] Radivarig opened #9 "could not find rule to match content:"
In my case the error `could not find rule to match content:` was raised because the rules do not match a block source without newlines `\n\n`, and `inline: false` is default option making the rule to expect a block.
First match was a block but its nested parse substring was not, so the `text` rule was skipping it.

I solved it by setting `state.inline = true` in return of the `parse` function.
[co

[2015-11-19 03:56] #9 closed

[2015-11-20 17:50] ariabuckles commented on #9
Hi Reslav!

Correct, if you're parsing inline content from a block element, you'll have to do what you said. We should document this.

There are also helper methods `SimpleMarkdown.parseInline` and `SimpleMarkdown.parseBlock` that can do this wrapping for you:

[code]

The code for `parseInline` looks like:
[code]

(It uses mutation as opposed to the cleaner `Object.assign` to avoid the extra two

[2015-11-23 22:37] Radivarig opened #10 "Silent break on Firefox when order is NaN"
From #8
[code]
is actually `NaN` as it should be
[code]
Interestingly, it works on Chrome and breaks silently on Firefox! :)

[2015-11-23 22:37] #10 closed

[2015-11-23 23:43] ariabuckles commented on #10
thanks! i put a commit in, but i'm actually thinking it might be better to warn. Sorting partially based on number and partially based on name seems like a recipe for disaster.

[2015-11-23 23:55] ariabuckles commented on #10
Version 0.0.7 now warns in this case :).

[2016-05-02 20:15] yeldarby opened #12 "Trailing commas"
Getting a whole bunch of errors when building warning about IE8. I'm removing the trailing commas manually for now but just thought I'd report it

[code]

[2016-05-02 20:20] spicyj commented on #12
Trailing commas have been valid in JS for many years now. Sounds like you need to pass a special flag to Closure though:

http://stackoverflow.com/a/13264244/49485

[2016-05-02 20:20] #12 closed

[2016-06-30 11:18] suprMax opened #14 "Move defaultRules to a separate module?"
Hi!

I'm facing a task of implementing a subset of markdown for our webapp, that basically includes making links clickable, link images becoming images, having bold and italic texts. That's about as much as we need. I tried to find an existing library that does that, and your repo is the closest thing to it. However, since I will only need a subset of defaultRules, it looks like an overhead to loa

[2016-08-29 17:14] ariabuckles commented on #14
Hey!

Sorry for not getting back to this sooner.

This seems like a good idea but I'm not sure how I'd implement it without making some other things more annoying yet. A lot of modules have a -core they depend on, and then the general simple-markdown package would depend on simple-markdown-core and simple-markdown-rules, but that is inherently a bit in conflict with a single file containing all of

[2016-10-17 18:26] night opened #16 "Case where italics do not parse"
One of our users reported a case where italics were not parsing. Anytime you have an italic phrase ending with a single letter, it does not parse.

Example:

    '[{"content":[{"content":"*test i","type":"text"},{"content":"*","type":"text"}],"type":"paragraph"}]'

[2016-10-17 18:27] ariabuckles commented on #16
Ooph, that's not good. I'll look into it and try to get back to you by tomorrow; should be fixable.

Thanks for letting me know!

[2016-10-17 20:50] ariabuckles commented on #16
Going to give @xymostech and @alopatin time to look at #17 if they want to, since messing with italics parsing could affect khan academy questions, then hopefully merge + publish later today :).

[2016-10-17 20:58] #16 closed

[2016-10-17 21:04] ariabuckles commented on #16
Okay I put in a fix for this case in NPM version 0.1.3 .

I tried to fix some more complicated nesting cases in 0.2.0, but I think that introduces bugs in different nesting cases, so I'm going to look into fixing those and would recommend sticking with 0.1.3 for now (and will post here if I manage to fix those).

[2016-10-17 21:10] night commented on #16
I was not expecting such a fast fix for something so minor, thanks! 👍

[2016-10-17 21:11] ariabuckles commented on #16
yw <3!

[2016-10-18 05:45] night opened #20 "Another parser issue, this time with links"
Discord recently added Webhooks, which allow services to post custom links into chat (we don't allow this otherwise to protect users from bad links). I noticed during testing that links containing escaped markdown, like `\)` do not properly escape.

For example, `[test link](https://test.link/\(test\))` becomes `test link)` with simple-markdown. GitHub renders this properly: [test link](https://te

[2016-10-18 18:33] ariabuckles commented on #20
Interesting; I'm a bit surprised GFM lets you \\-escape characters in urls. That said, \\'s shouldn't be valid in links anyways, so this seems fine to change.

We could also change the link matching function to handle nested parentheses correctly (replacing the regex matcher with a function that loops through characters), which is more verbose but probably worthwhile long-term.

In general the esc

[2016-10-19 02:58] ariabuckles commented on #20
Fixed in af77481 / 0.2.1 :)

[2016-10-19 02:58] #20 closed

[2016-10-19 03:00] ariabuckles opened #21 "Allow one level of balanced parens in link urls, per CommonMark"
See [the section on this in the CommonMark spec](http://spec.commonmark.org/0.26/#example-465)

simple-markdown does not try to conform to CommonMark, but does try to be compatible when possible and choose sensible defaults, which CommonMark also tries to do.

[2016-10-19 03:01] ariabuckles opened #22 "Handle nested ***bold** and italics* correctly"
See #19 for a potential solution to this.

[2016-10-19 03:05] ariabuckles opened #23 "Handle inline code inside bold/italics/links"
Currently, *italic text `and code with* pointers`* doesn't match correctly.

Handling this correctly (especially with simple-markdown's regex-based design) is tricky, but important.

We might have to write a custom matcher function for the rules where this is most important, instead of using regex matchers. For an example, see the [math matching in Perseus][1].

[1]: https://github.com/Khan/perseu

[2016-10-19 03:08] ariabuckles opened #24 "em/strong should handle \-escapes correctly"
Currently, they end on `*` or `**` without regard to whether it is escaped or not.

[2016-10-29 02:16] kevinbarabash commented on #23
@ariabuckles would ```*code example: `console.log(2 * 2);`*``` be a failing example?

[2016-10-29 02:18] kevinbarabash commented on #22
@ariabuckles I see you have `***like* this**` as a test case in https://github.com/Khan/simple-markdown/pull/19/files.  Could you add a test case for `***bold** and italics*` to that PR or does it not handle that yet?

[2016-10-29 02:22] kevinbarabash commented on #24
@ariabuckles I'm not sure what's meant by `\-escapes`, could you give an example failing case?

[2016-12-06 15:19] R3alCl0ud opened #26 "way to access context on react rendering"
I want to know if there is a way for me to access the context object when rendering the markdown to react elements

[2016-12-06 19:25] xymostech commented on #26
@R3alCl0ud Do you mean like [this context object](https://facebook.github.io/react/docs/context.html)? Where are you trying to access the context? As far as I can tell, accessing it in the react output should work out of the box.

[2016-12-06 20:53] R3alCl0ud commented on #26
[code]
I needed to access that context object here

[2016-12-06 21:26] xymostech commented on #26
I'm still not sure what context object you are referring to. I'm also not sure what he `roleMention` rule is, that isn't coming from stock simple-markdown. Can you maybe try to explain what you're trying to do a little bit more?

[2016-12-06 22:33] ariabuckles commented on #26
I'm guessing by channels/roles and your github it's discord related stuff?

I think you ought to be able to access `this.context` in the `react` function, but you'd probably need to access it through a separate component, which would probably look something like this:

[code]

[2017-06-07 11:20] marlti7 opened #27 "how to block Source end with one \n"
when one \n  output paragraph

[2017-06-07 12:03] kevinbarabash commented on #27
@marlti7 can you provide an example with expected and actual output?

[2017-06-09 20:43] swathivs30 opened #28 "Line break in Simple Breakdown"
I am getting standard markdown from my server as a string. I am trying to figure out if simple-markdown supports the standard line break and paragraph rules, i.e. `"\n  "` (newline followed by 2 spaces) is a line break vs. `"\n\n"` is a paragraph break.

What I am observing is that `"\n\n"` indeed works as a paragraph break, however `"\n  "` gives a line break followed by 2 spaces. Is this intenti

[2017-06-13 15:47] nareshbhatia commented on #28
+1
I was also looking for these answers. Also wanted to find out the reason for escaping `\n`s with curly braces in the JSX.

Thanks in advance!

[2017-06-19 06:59] KatSick commented on #22
Is there any updates ?

[2017-06-26 23:51] night opened #29 "ReDoS on link regex"
The regex for the `link` rule is subject to DoS when there is a malformed link.

Working repro:

[code]

[2017-07-17 07:39] Jhonte opened #30 "Why the extra \n?"
Stumbled upon an issue with headings here https://github.com/Benjamin-Dobell/react-native-markdown-view/issues/2  that is based on simple-markdown.

Have only looked briefly into the code, but what's the reason for the last `\n` here?
https://github.com/Khan/simple-markdown/blob/master/simple-markdown.js#L558

Do you parse the whole text at once, can this be another solution?
http://regexr.com/3gc

[2017-08-01 22:09] evan-scott-zocdoc commented on #30
I ended up using

[code]

[2017-09-02 22:39] ariabuckles commented on #29
Sorry for the delay; I've spent the past several months trying to bring a startup to launch.

Yikes! This looks like a real bug, thanks for pointing it out and I'll look into it.

[2017-09-03 01:24] ariabuckles commented on #29
Figured out the issue; I'll have a fix for this out by monday. Sorry for the month lag D:

[2017-09-03 03:24] ariabuckles commented on #29
Hi again!

This is fixed in version 0.2.2 (on npm), which is now out on npm.

I also reworked my bold/italic nested parsing solution so that it's backwards compatible, and released that as 0.3.0 (which includes 0.2.2/the fix for this issue). This lets simple-markdown correctly parse `***nested* bold and italics**`. This should just work (no breaking changes), but it *is* a lot of code changed. So

[2017-09-03 03:24] #29 closed

[2017-09-03 03:27] ariabuckles commented on #22
@KatSick just fixed this with version 0.3.0 / 20b1fefcf2f9aa88f66e1f4a6508832c17ad6f3e .

Sorry about the delay! If you're using this and could let me know how 0.3.0 works for you and if you run into any issues, I'd appreciate any feedback.

@kevinbarabash the `should parse complex combined bold/italics` test case tests this :).

[2017-09-03 03:27] #22 closed

[2017-09-03 03:32] ariabuckles commented on #26
Closing now unless the above solution isn't working for anyone <3

[2017-09-03 03:32] #26 closed

[2017-09-03 06:17] night commented on #29
@ariabuckles thanks for your continued support of this module! we definitely exploit simple-markdown to the best of its ability and it's quite great for what it does. this week i will bump the version and throw it onto canary if things look alright locally (canary is our cutting edge public build that people are eager to try and report bugs for). i'll be sure to report any issues encountered 🤞

[2017-09-05 02:13] ariabuckles commented on #29
Awesome, thanks @night! I'm happy it's been useful to you :D

[2017-09-07 19:52] ariabuckles commented on #30
Hi! Sorry for the delay! Been busy trying to get a startup to 1.0 >_<`

The reason for the extra newline is that all block rules in simple-markdown require a blank line between the next block element. This makes the grammar more consistent, and makes parsing simpler. And if you need to write a really long heading, you can just wrap it onto the next line like
any other block rule.

That said, there

[2017-09-07 20:34] ariabuckles commented on #30
I'm going to close this as the original react-native-markdown-view issue has a PR open to fix the issue for them.

I said this on that comment too, but also putting this here for anyone following this thread: I'm going to hold off from addressing this in simple-markdown immediately, as I want to make sure it doesn't break any existing use cases or misalign with simple-markdown's philosophy too muc

[2017-09-07 20:34] #30 closed

[2017-09-08 00:28] ariabuckles commented on #27
simple-markdown uses two '\n's to close paragraphs (and all other blocks), as that is generally how paragraphs work in markdown: http://spec.commonmark.org/0.28/#example-183

If this behaviour doesn't match your desired results, you could make a simple-markdown extension to alter it in one of two ways:

1. Add a rule for matching '\n' that outputs a `<br>` inside your paragraph. This is consistent

[2017-09-08 00:28] #27 closed

[2017-09-10 10:34] jeffbonasso opened #32 "Cells with periods and commas seem to parse incorrectly"
If there is a simple table with decimals and commas, it seems to create new lines for them...

This simple table...
Markdown | Test
--- | ---
Periods | Commas
25.7 | 1,000

Produces...
![image](https://user-images.githubusercontent.com/5274224/30248251-0ef5e28e-95f2-11e7-8c56-c14af45833e5.png)

[2017-09-13 00:57] ariabuckles commented on #32
Hi,

Are you using the default react or html outputters / `reactFor` or `htmlFor`, or something else?

I can't reproduce this on stock simple-markdown, but I have a theory about what could be going on. My guess is that what is happening here is that it is parsing that as two separate text elements, which is (suprisingly) what it should be doing. The `reactFor` outputter is where it joins those int

[2017-09-13 01:09] jeffbonasso commented on #32
Thanks for the insight! I am utilizing another library called
react-native-simple-markdown which has the dependency on simple-markdown. I
traced it and yes in nestedParse function when it gets to text type it
splits it in two and pushes on an array. My guess is the
react-native-simple-markdown is then not handling appropriately and the
problem probably lies there. Looking in that code it is callin

[2017-09-13 19:11] ariabuckles commented on #32
Thanks @jeffbonasso ; i've got a test site for that library locally and I'll try to see what could be going on.

[2017-09-13 19:43] mgreer opened #33 "New rule weighting logic sometimes does not choose a rule"
Getting an occassional `simple-markdown.js?eb4d:145 Uncaught TypeError: currRule.match is not a function`on the 0.3.0. This does not happen with 0.2.2.

[2017-09-13 21:51] ariabuckles commented on #33
Hi! That's not good D:

do you have a markdown string that might reproduce this, or a repo i can check out?

Thanks for reporting this

[2017-09-14 00:01] ariabuckles commented on #32
For anyone following along:

This looks like it's caused because each text node in react native is outputting a separate Text component for each text node, since they aren't just strings like they are in web react.

I need to think for a day or two about the best way to solve this, but this should be solvable.

In the meantime, this particular result might be caused by odd style rules for table ce

[2017-09-15 22:54] mgreer commented on #33
It looks like it isn't your code, we just had not yet migrated regex: to match: ().

[2017-09-15 22:54] #33 closed

[2017-09-16 18:03] Jhonte commented on #30
Thanks for fixing!

I noticed that I can't use the syntax other way around now :)  But will take it up in react-native-markdown-view.

Example:
AnyText
#Title

[2017-09-17 21:59] ariabuckles commented on #33
Okay thanks! Sorry for the bumpy upgrade path for that

[2017-09-17 23:16] mgreer commented on #33
I downgraded to 0.2.2 (fixed for 16 on a fork), but we would like to be on 0.3.0.

Our issue was in some of our regexes not behaving properly when replacing the straight regex with SimpleMarkdown.inlineRegex. Do you know of any gotchas to look for?

[2017-09-18 00:53] ariabuckles commented on #33
SimpleMarkdown.inlineRegex is only applicable for inline elements (i.e. italics, links, etc: when state.inline == true). Maybe they're block rules, in which case you should use SimpleMarkdown.blockRegex.

Alternatively, if it isn't inherently block or inline scoped, or if your rules are potentially not propagating state.inline, SimpleMarkdown.anyScopeRegex ought to be the same behaviour as .regex

[2017-11-13 15:23] sapegin opened #40 "Why paragraphs are rendered with divs?"
It seems very unusual in comparison to other libraries. Would be nice to have at least a comment:

https://github.com/Khan/simple-markdown/blob/7627d864445616b6c749399bac2f64e3185a5434/simple-markdown.js#L1049-L1061

[2017-12-09 00:49] ariabuckles commented on #40
Hi!

It renders divs with `class="paragraph"` because there are [odd browser rules about what may and may not be rendered inside a `p` tag][1]. The project I initially wrote this for had several elements that would run into that issue, and that issue causes strange behaviour in react, because the browser moves block elements that react renders inside paragraphs. Using a `div` gets around these rul

[2017-12-09 00:49] #40 closed

[2017-12-09 13:54] sapegin commented on #40
Yeah, I have a PR with this example: #41 ;-)

[2017-12-10 21:46] ariabuckles commented on #40
oh, thanks! I'm still working my way through all the PRs and issues :).

[2017-12-26 13:40] faergeek commented on #14
What about bundling with support for tree shaking with e.g. rollup, so it will become more modular automagically and yet will support usage without build tools? I would try to setup this and submit a PR, if it's ok.

[2018-01-05 10:33] iqrow opened #42 "npm out of sync for 0.3.1?"
Hi, first of all thanks for all the work on this project!

I'm wondering if the code on npm is out of sync with this repo and needs updating? It shows 0.3.1 in the releases here, but there is code that is not present on the 0.3.1 on npm.

Specifically the `reactElement` function

npm 0.3.1
[code]

github 0.3.1
[code]

The reason I noticed is because I'm trying to implement unit testing for my own

[2018-01-05 10:43] iqrow opened #43 "Unit testing custom rules"
I wonder if there is a recommended route for unit testing custom rules?

In my scenario:
1. I'm modifying some of the default rule `match`, `parse` and `react` functions
1. I'm adding custom rules
1. I want to test all of these on strings

A simplified unit test might look something like
[code]

The `md` function in this test is what I'm having trouble defining.

1. I tried using `React.createElem

[2018-01-05 22:43] ariabuckles commented on #42
That's not good!

Thanks for pointing this out. It looks like the npm version is out of date compared to the github version. I'll publish a 0.3.2 and hopefully get them back to parity

[2018-01-05 23:03] ariabuckles commented on #42
Okay, here's what was going on: 0.3.1 corresponds to 3d0d2bd973463ae51b2c61d5a05fd0b570d452d3 (tagged 0.3.1 in github, or npm simple-markdown@0.3.1)

There have been a few commits since then, most notably being react 16 compat. I had been holding off on shipping those because I'm working on a v1.0 version that will include all the fixes.

But I didn't realize the latest version on npm didn't have

[2018-01-05 23:03] #42 closed

[2018-01-05 23:57] ariabuckles commented on #43
Hi!

I'd like to take a shot at directly answering your question, but before that I think some of the ways I test simple markdown internally might be helpful. For that, I use two methods:

1. just do a parse, and test that the AST is what I want
2. render to react, and then use [ReactDOMServer.renderToStaticMarkup](https://reactjs.org/docs/react-dom-server.html#rendertostaticmarkup) to render that

[2018-01-06 21:57] iqrow commented on #42
Oh excellent, thank you very much for your speedy response and fix!

[2018-01-08 21:37] iqrow commented on #43
Wow, thank you so much for taking the time to put these together. I've gone with the `reactOutputToHtml` and this has unblocked me. I'll add anything else I find helpful as I go through the different cases.

Thanks again!

[2018-01-08 21:37] #43 closed

[2018-01-08 23:38] ariabuckles commented on #43
Glad I could help!

[2018-01-09 12:56] iqrow opened #44 "Minimum Required Default Rules (could not find rule to match content)"
Thought I'd document this in the issues so that others might find it.

Basically, there's a set of default rules that _must_ be included in your parser and those are:

[code]

Now for context, my original scenario:
[code]

However, when matching with this `subset` you will run into errors where nothing gets matched by the rules in that subset.

So, as a result there is a 'bare minimum subset' of `

[2018-01-09 12:56] #44 closed

[2018-01-17 10:44] fannairu opened #45 "strong rule parse issue"
When i use simple-markdown to parse the string ` **con**nect`, it will render `<strong>Con</strong><strong>conn</strong>ect`.  The rule which I use is defaultRules.strong; but if i rewrite the react function of the rule as follows:

[code]

the error has gone. Which may cause this problem?

[2018-01-20 05:21] besrabasant opened #46 "Typescript definition files?"
Where can I find Typescript definition files for this package?

[2018-01-21 01:49] ariabuckles commented on #46
Check out #37 ;  I think you could grab index.d.ts from there? I haven't gone through it myself yet, as I've got my own flow definitions, and will try to import the typescript type definitions once I merge the flow types, so that they use the same terminology.

[2018-01-21 01:53] ariabuckles commented on #45
The default `strong.react` function should be the same as the function you wrote there. Do you have a bigger example you could send me here, or a private gist via email? (aria@joinhorizons.com)

[2018-01-21 02:35] besrabasant commented on #46
Thanks.

[2018-01-21 02:35] #46 closed

[2018-03-05 17:26] brianmock opened #48 "Nested unordered lists parsing/indentation issue"
Running into an issue where nested bullets are improperly indented.

Some background, I use react-rte (https://github.com/sstur/react-rte) to convert a user's rich text input to markdown which I pass to a Markdown component:

[code]

An example of the issue -- when I pass the following string (generated by the react-rte lib) to the Markdown component above:
[code]

I end up with the following outp

[2018-03-05 20:59] ariabuckles commented on #48
Confirmed; I think I have an idea what's going on and can probably fix it this week, although it might take a bit of time as I'm pretty busy at work right now.

Thanks!

[2018-03-11 01:13] #48 closed

[2018-03-11 01:17] ariabuckles commented on #48
I just pushed version 0.3.3 with a potential fix for this - could you let me know if it works for you (and whether it introduces any other surprises).

\[I expect it to work and not cause problems, of course, but it fixes this in an unusual way and like most things, could potentially interact oddly with custom extensions\]

[2018-03-12 05:13] ariabuckles commented on #45
Closing as can’t repro for now, but I’m happy to reopen this if there’s some more context I can look into :)

[2018-03-12 05:13] #45 closed

[2018-03-14 16:20] brianmock commented on #48
@ariabuckles Looks great so far! Thanks for the quick turnaround.

[2018-03-15 11:15] f0rr0 commented on #32
Any updates on this @ariabuckles @jeffbonasso ?

[2018-03-16 03:03] ariabuckles commented on #32
Thanks for the ping @f0rr0 & sorry for the delay on this @jeffbonasso . I've got a lot of work that refactors significantly how simple-markdown works to let things like this be easier.

It's not quite ready yet, but work has been ridiculously busy lately, so I've published what I have (which is working, but not well documented) as 1.0.0-alpha.0, which you can install via:

[code]

This changes the

[2018-04-22 02:42] domoritz opened #49 "Document that users should sanitize HTML"
I noticed that HTML is just passed through. This can have unwanted side effects if this plugin is used on a platform where users can provide the content, which is then displayed to other users.

Here is a demonstration of the problem: https://bl.ocks.org/domoritz/raw/05254ae24b0a69b6e5dbe8a5718ab506/cdf4e1ccf44f193de06f98d78bfa486ee1b53742/.

While it is not necessarily the responsibility of this

[2018-04-23 03:03] ariabuckles commented on #49
Thanks @domoritz!

I agree 100% this is an issue. In 1.0 I plan to sanitize all HTML (which you can see on 33a9e5d98f45bbd5a17474d9ec40489cff0b6bb0 on branch [prerelease / 1.0.0-alpha.0](https://github.com/Khan/simple-markdown/tree/prerelease).

If you run `npm install simple-markdown@next` you should get version 1.0.0-alpha.0, which includes this fix.

As you mention, this does cause issues with

[2018-04-23 03:10] domoritz commented on #49
Thanks for the response. I decided not to include the library by default in https://github.com/vega/vega-tooltip but I'm using simple-markdown as an example in the extension docs. Nonetheless, I have some ideas for uses in some other places. I will report back if I find problems.

[2018-04-27 13:45] sibelius opened #50 "flow issue"
![image](https://user-images.githubusercontent.com/2005841/39365035-63907368-4a06-11e8-81a4-3ac62e27cce5.png)

gonna try a fix on this

[2018-04-27 13:50] sibelius opened #51 "modernize code"
it would be cool to use es6/7 in the code to make it easier to maintain

[2018-04-27 18:13] ariabuckles commented on #50
Try installing `simple-markdown@next` (1.0.0-alpha.0) and I think this should be fixed (in 84bd0a1a916e6b6c67f5647c65709d2a64c8cae7 )

Please let me know if you're still getting this issue in 1.0.0-alpha.0

[2018-04-27 18:13] #50 closed

[2018-04-27 19:37] ariabuckles commented on #50
Alternatively, try `npm install simple-markdown@0.4.0` which should fix this :)

[2018-04-27 19:38] ariabuckles commented on #49
Sounds good; thanks!

[2018-04-27 19:38] #49 closed

[2018-04-27 19:39] ariabuckles commented on #32
For anyone interested, the above API is now released, in version 0.4.0. It's not well documented yet, but it should fix this problem.

Basically, to fix this:

`npm install simple-markdown@latest`

And then change

[code]

to

[code]

[2018-04-27 19:39] #32 closed

[2018-04-27 19:41] ariabuckles commented on #14
@faergeek that would be neat!

[2018-06-05 20:00] joepec opened #53 "Unable to escape ordered list"
I'm trying to get the following string to render as a paragraph:
"1. This is some text"

This gets converted into an ordered list, adding indentation. Is there any way to prevent ordered list rule from picking this up?

![image](https://user-images.githubusercontent.com/6349799/40999666-1a7b1e8c-68d1-11e8-9759-f279727ef29e.png)

[2018-06-05 20:33] ariabuckles commented on #53
Hi @joepec, try `"1\. This is some text"`, which should render to:

1\. This is some text

I agree it's weird that `"\1. This is some text"` does not work—by default escapes only work for non-letters or numbers. We might look into revising that if it's causing problems.

[2018-06-05 20:35] ariabuckles commented on #53
(Additionally, if you'd prefer to never turn lists into `<ol>`s or `<ul>`s, you can disable the ordered list rule with the following: )

[code]

[2018-06-10 21:14] ariabuckles commented on #53
Closing this for now; happy to reopen if that doesn't work for you, or if someone else finds this thread and is running into similar things.

[2018-06-11 14:30] joepec commented on #53
@ariabuckles - sorry for the delay. I've tried `1\. This is some text`, but that didn't work. I'm unable to turn off the list rule because I do have some use cases for it.

[2018-06-11 19:10] ariabuckles commented on #53
No worries, sorry for closing it early!

Here's what I get when I use `1\. This is some text`:

[code]

I forgot to escape the backslash properly in the quoted example before: if the string is user supplied
it should require only one backslash, but if it is in a js file each backslash needs to be itself escaped:

[code]

If you're still seeing the issue, do you have a usage example that I could lo

[2018-06-18 13:09] joepec commented on #53
Hi @ariabuckles,

I got it working, thanks!

[2018-06-19 17:05] ariabuckles commented on #53
Great @joepec ! Thanks for following up :)

[2018-06-19 17:05] #53 closed

[2018-07-26 22:11] maynardewm opened #54 "Hash tags for headers don't work if the header is followed by regular text on a new line"
if I have the following:

[code]

The parser fails to turn the header text into a title. The following doesn't work either:

[code]

[code]

It only works with the following:
[code]
[code]

[2018-07-27 19:13] ariabuckles commented on #54
Hi @maynardewm !

This is by design. To simplify the various parsing rules, all block-level grouping elements (paragraphs, lists, blockquotes, etc.) must be separated by an empty line, because otherwise, most markdown contexts would make the following line a part of the same block.

Thankfully, you can write a rule to change this behaviour:

[code]

This comes up somewhat frequently for headings,

[2018-07-30 16:53] maynardewm commented on #54
Thank you for the reply! This took care of every situation except the following:

[code]

[2018-08-01 16:56] ariabuckles commented on #54
I'm glad that solved some of the issues!

This last case is because that's all being parsed as a paragraph, since there's not a blank line between the paragraph and the heading.

To be honest, it's hard to solve this issue in general in simple-markdown right now, as it complicates all the rules significantly (they all have to know about other block level rules that may start a new block). Because

[2018-08-01 19:58] maynardewm commented on #54
Thank you so much, this works well, we can live with the block element issue for now. Thanks for all of your help explaining how to resolve this!

[2018-08-01 21:39] ariabuckles commented on #54
Great, I'm glad it helped! thanks @maynardewm!

[2018-08-01 21:39] #54 closed

[2018-08-28 16:57] ariabuckles commented on #24
Two years slow, but this is fixed now, in v0.4.2

Tests for the failing cases:

 * 2eb32df9deb1c64fcf35f9289d7f53d05a0ecd8d : test for the em rule
 * 8f8c8040cb04c19cef989ef45fd48c6f5f6fb256 : test for the strong rule

Fixes for the failing cases:

 * 95d794f5eb4276ed0e16665433ea6e1a794f6116 : fix for the em rule
 * 09e55b4e4930e08a65715ed9493704ed65363384 : fix for the strong rule

[2018-08-28 16:57] #24 closed

[2018-10-23 13:39] faergeek commented on #21
Is this already being worked on somewhere or I could help with this and submit a PR?

[2018-10-24 03:07] ariabuckles commented on #21
It's not being worked on anywhere; you're welcome to help and submit a PR!

I'd recommend checking out the regular expression string `LINK_HREF_AND_TITLE` (which is pretty messy, sorry!). That could probably be broken up across a few lines with comments explaining what's going on, and then you could add a clause for balanced parentheses groups.

[2018-10-24 03:45] faergeek commented on #21
Am I right that there's no some commented out tests for such behaviour or something like that? Should I write my own?

[2018-10-24 04:09] faergeek opened #56 "Simplify regular expressions"
Hello. I'd like to simplify codebase a bit. I really like to do that.

What about simplifying regular expression using literals and getting strings from [source prop](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/source)? It helps by greatly decreasing the number of backslashes and increasing readability.

Example:

[code]

Note that I'm not 100% sure abou

[2018-10-24 04:18] faergeek opened #57 "Prettier"
Continuing part of discussion from https://github.com/Khan/simple-markdown/pull/55

I understand that prettier more likely will break flow annotations in comments, so it may require using syntax without comments and https://github.com/flowtype/flow-remove-types or something like that.

On the plus side it simplifies contributing (I really don't like to format my code manually anymore) and also too

[2018-10-24 23:28] ariabuckles commented on #56
Yeah, it's fine if you use .source while changing specific regular expressions / rules (but please don't replace all of the regular expressions with that).

[2018-10-24 23:28] #56 closed

[2018-10-24 23:32] ariabuckles commented on #57
I'm not interested in using prettier until they add support for flow comments. I know reformatting by hand isn't fun, but it works and it's doable.

[2018-10-24 23:32] #57 closed

[2018-10-24 23:33] ariabuckles commented on #21
Correct, there aren't tests for this yet. You're welcome to write them! Or welcome to contribute without adding formal tests.

[2019-01-04 07:53] yoshikischmitz opened #59 "Parser aggressively breaks paragraphs up by punctuation."
If I parse a sentence like this:

`md.defaultBlockParse('Lorem Ipsum Dolor. Sit, Amet')`

the output I would expect is:

[code]

Instead what I get is:

[code]

For longer documents this creates quite a lot of redundant nodes which leads to bloated output and potential performance issues. I think it'd be great if either the library didn't break text up like this in the first place or had a streaml

[2019-01-06 00:00] ariabuckles commented on #59
Hi @yoshikischmitz !

What you're reporting definitely happens, and I'd like to see if we can address it.

Could you explain a little more about your use case? Are you parsing markdown and then saving the parse tree / AST to a database, and concerned about that json being overly-verbose? Or are you parsing markdown and then immediately outputting it to react/html/something else? Also, what version

[2019-01-07 07:49] yoshikischmitz commented on #59
@ariabuckles thanks a ton for the super detailed response! You guessed correctly, I am saving the output from the parser to the file system, serving it over the network to a client, which is then rendering it(I think this is a pretty cool use case of this library for mobile apps because it allows for rich text views that can be updated server side without relying on web views).

[2019-01-07 19:41] ariabuckles commented on #59
Hi again @yoshikischmitz !

Thanks, that makes sense.

I'd recommend writing a custom outputter that does this AST transformation to join the nodes. This is somewhat clunky right now, but quite functional.

I've taken a shot at that here: https://gist.github.com/ariabuckles/039442f9e50525fada464ce34953725d (join-smd.js exports a function which takes an ast and outputs an ast with text nodes combin

[2019-01-31 22:46] pjlevitt opened #60 "Documentation: docs for the parsed syntax tree types"
Could you provide documentation for the parsed syntax tree documentation types, supported mark down tags -> types, etc?

Would be really helpful in creating a custom "renderer".

[2019-02-06 03:36] synzen opened #61 "Replacing new lines with breaks"
Hi, I can't seem to figure out how to get a rule working for new lines (that I will eventually use to replace new lines with `<br \>`). What I'm trying is:

[code]

The output is:
[code]

The first item is correct - my underline shows up within the paragraph, but I can't get my my new line rule  working

[2019-02-07 19:17] ariabuckles commented on #60
Hi @pjlevitt !

That's a great idea. I probably won't be able to get to it for a while, as I'm currently really busy with work, but I'll try to address it when I can.

If it's helpful in the short term, when I'm writing a custom outputter/renderer, I tend to look through the [defaultRules declaration](https://github.com/Khan/simple-markdown/blob/master/simple-markdown.js#L854). The `html:` output

[2019-02-08 00:46] synzen commented on #61
Ah yes I understand, it works perfectly now. Thank you!

[2019-02-08 00:46] #61 closed

[2019-02-08 00:47] ariabuckles commented on #61
Yay; glad to hear it!

[2019-03-12 15:24] schumannd opened #62 "Flow error: Cannot assign function to match because:"
Full error:
[code]

I am using flow version 0.86

Edit:
there are a few more errors flow 0.86 complains about. If there is interest, I can post their error messages as well.

[2019-03-13 20:11] ariabuckles commented on #62
Thanks! I haven't upgraded flow to latest myself; it looks like they improved their regexp match type. I'll look into fixing this and whatever other issues show in flow 0.86+

[2019-03-13 20:50] ariabuckles commented on #62
Just published `0.4.3` which should fix this!

[2019-03-15 11:11] schumannd commented on #62
Wow thank you so much for the quick response!

I tried it and it works perfectly!

[2019-03-15 11:11] #62 closed

[2019-03-31 21:30] YouTwitFace opened #64 "Syntax Highlighting"
Can you please add support for syntax highlighting using [highlight.js](https://highlightjs.org/) in code blocks?

[2019-03-31 23:47] ariabuckles commented on #64
You can do this by writing a custom codeBlock output rule, like:

[code]

I don't generally add features like this directly to the library itself, because everyone has different needs, but instead try to support easy extensibility like the above.

Would something like that work for you?

[2019-03-31 23:58] YouTwitFace commented on #64
I'm using react... Would something like this work? (I'm unable to test it now)

[code]

[2019-04-01 00:15] ariabuckles commented on #64
Cool! I think to get your example to work, you'd want:

[code]

But you could probably use something like [react-highlight.js](https://github.com/bvaughn/react-highlight.js) to do this more easily:

[code]

(I haven't tested either of these either yet)

And either of these would need `outputFor(rules, 'react')` instead of `outputFor(rules, 'html')`

[2019-04-01 00:17] YouTwitFace commented on #64
Interesting :thinking:... I'll give `react-highlight.js` a try. Thanks!

[2019-04-01 02:06] ariabuckles commented on #64
You're welcome! Let me know if you have trouble with it

[2019-04-07 19:45] YouTwitFace commented on #64
This doesn't seem to work due to `inlineCode`.

[2019-04-07 22:20] lungera commented on #64
I forgot to mention, I'm using three backticks for code blocks.

[code]

[2019-04-07 22:21] YouTwitFace commented on #64
I forgot to mention, I'm using three backticks for code blocks.

[code]

[2019-04-07 22:27] YouTwitFace commented on #64
Looks like changing it to not use `blockRegex` works.

[code]

[2019-04-07 22:37] #64 closed

[2019-05-20 00:52] YouTwitFace opened #65 "Not parsing more than one rule"
I added custom rules and it only parses the first match. It seems to be a problem with my rules because it works with the default rules.

The code is [here](https://gist.github.com/12125b6fdf5c108e3adf2f031cd3babe) and if anyone can help find the problem, that'd be appreciated.

[2019-07-25 12:16] supertiger1234 opened #67 "Custom rules"
Is there anyway I could make my own rule such as spoilers, or something custom id like to do?

[2019-07-25 18:00] ariabuckles commented on #67
Yes that's what this library works best for! What would you like your spoiler syntax to look like?

https://github.com/Khan/simple-markdown#adding-a-simple-extension has some of the basic info, but if you have specifics I'm happy to help with those

[2019-07-25 19:25] supertiger1234 commented on #67
Thank you :D the thing is, I tried looking at that, but it seems like if I change the rule name from underline to spoiler, it stops working. I want to make something like discords spoiler tag, where when you click on the black area, it should show the hidden message

[2019-07-25 19:27] supertiger1234 commented on #67
I basically want ||message here|| to turn into </div class="spoiler>message here</div>

[2019-07-25 20:38] ariabuckles commented on #67
You could do that with something like:

[code]

[2019-07-25 21:57] supertiger1234 commented on #67
Aaaah, thank you!!

[2019-07-31 13:52] robaxelsen opened #68 "Escaped pipe chars in table creates new cells"
Hi :wave: Thanks for a great library :tada: Loving it :heart:

I've been running into an issue within storybook, that uses markdown-to-jsx, which again is using simple-markdown to parse markdown.

The issue I am experiencing can be found [described in detail here.](https://github.com/storybookjs/storybook/issues/6869)

I also made a crude test repo to check that the same base output also is found

[2019-08-04 23:22] ariabuckles commented on #68
Hi @robaxelsen ! I'm really glad it's been useful to you!

This definitely looks like a bug; several of the other parsing rules use a particular pattern to allow escaping characters, but tables may not. I'll see what I can do.

[2019-08-05 01:27] #68 closed

[2019-08-05 01:30] ariabuckles commented on #68
I think I've fixed this in `simple-markdown@0.5.0`. The

One important note: The fix I implemented makes:

`` `"left" \| "right"` `` parse as `<code>"left" \| "right"</code>` not `<code>"left" | "right"</code>`. To get the single `|`, you should not escape it, since it's inside a code element (which generally doesn't support escaping, but should only end at the corresponding `` ` ``.)

So for your

[2019-08-05 02:28] ariabuckles commented on #68
I sent a PR to markdown-to-jsx too: https://github.com/probablyup/markdown-to-jsx/pull/261

I briefly tested this in your test repo, but not extensively. Please feel free to re-open if this doesn't work for you!

[2019-08-05 09:26] robaxelsen commented on #68
@ariabuckles wow, that's amazing! Thanks for the thorough reply, and for fixing it PLUS submitting a PR to `markdown-to-jsx`. Grateful for all the help :heart:

[2019-08-05 14:41] zamiang opened #69 "Unable to install '../simple-markdown: Appears to be a git repo or submodule.'"
[code]

[2019-08-05 15:05] ariabuckles commented on #69
Oh gosh sorry; I’ll look into this asap. In the meantime, `npm install simple-markdown@0.4.4` might work

[2019-08-05 16:25] ariabuckles commented on #69
Fixed in `0.5.1`, sorry about that.

To update, run:

[code]

Thanks for letting me know about this.

[2019-08-05 16:48] zamiang commented on #69
Thanks!

[2019-08-07 00:01] ariabuckles commented on #68
You're welcome; glad I could help, and thanks for reporting it!

(also I apparently caught a rogue `.git` directory in `0.5.0` , if you're using that anywhere permanently you might want to `rm -rf node_modules/simple-markdown/.git && npm i simple-markdown@latest`)

[2019-08-07 07:15] robaxelsen commented on #68
You're welcome :smile:

Got it, thanks!

[2019-08-07 08:29] #67 closed

[2019-08-30 21:48] night opened #71 "ReDoS attack with inline code blocks"
Our users found another ReDoS, this time with inline code blocks.

Here's a repro:

[code]

With nested parsing intermixed with other markdown syntax this can trigger very long parses (upwards of 30seconds for us) since this regex gets triggered again and again.

[2019-08-30 22:00] ariabuckles commented on #71
@night thanks for reporting! I’ll do my best to fix this asap.

[2019-08-31 22:28] ariabuckles commented on #71
@night this should be fixed in version `0.5.2` which i just published. Please let me know if you find a case that fix isn't working for.

I also did a quick pass over the other regexes, and found + fixed a redos in del (strikethrough, which I believe y'all use), and in headings & code fences (which I believe y'all don't use). So hopefully that staves off these issues for a while at least.

Hope th

[2019-09-01 01:18] night commented on #71
@ariabuckles Thanks for the quick fix. I will update our fork, test this out, and throw this up on our canary release to see what happens. If you have some time we'd also love to get https://github.com/Khan/simple-markdown/pull/66 in to get off the branch on our fork (but no rush, really).

[2019-09-01 01:37] ariabuckles commented on #71
Oops, I lost track of that one; thanks for the bump. I’ll get back to that in the next few days; sorry @FuegoFro!

[2019-09-19 02:07] #71 closed

[2019-09-19 02:08] #69 closed

[2019-10-22 08:59] fimkap opened #76 "Text is cut on Android after upgrade to Expo SDK 33 and react 16.8.3"
We noticed that after upgrade to Expo SDK 33 and react 16.8.3 under some conditions the text is cut at the end of paragraphs. We work with Hebrew (RTL).
It happens only on Android with larger screens. It looks like wrong calculation of internal size of a view based on the text. Playing with padding or margins in styles will not fix it. The simple-markdown used from react-native-markdown-view, we t

[2019-10-24 23:41] ariabuckles commented on #59
Closing this issue for inactivity, but please feel free to re-open or comment if the above solution doesn't work for you (or anyone reading this!)

[2019-10-27 23:59] #21 closed

[2019-10-29 14:23] supertiger1234 opened #77 "Enable the rules I want"
Is there any way to only enable the rules I want?
For example, I only want my custom rules + bold, link and nothing else.

[2019-10-29 16:56] supertiger1234 opened #78 "using linkify-it"
I'm trying to use linkify-it with simple-markdown because the links don't fully work the way I want it to.
I tried doing this:
[code]

but i get this error:
```Error in render: "Error: `match` must return a capture starting at index 0 (the current parse index). Did you forget a ^ at the start of the RegExp?"```

This is what `linkifyInstance.match(source)` contains:
![image](https://user-images.gi

[2019-10-29 22:17] ariabuckles commented on #77
Yes! The only rules simple-markdown will use are the rules you pass to `parserFor` and `outputFor`, so if you only wanted your custom rules + bold, you could copy the bold (`strong`) rule to your custom rules object and pass that.

You'll probably also want the text rule, as it's the base rule for text that doesn't match any other rules. If you don't use the provided text rule, you'll need to crea

[2019-10-29 22:46] ariabuckles commented on #78
So I think there are two things that will make this tricky, but I think both are solveable:

1. SimpleMarkdown parse rules need to:
    * return a regular-expression `.exec` style result, i.e. an array that looks like: `["full capture string", "match1", "match2", /* ... */ ]`
    * return a match for the start of the input only, and `null` if the start of the input (at character 0 in the input str

[2019-10-29 22:57] ariabuckles commented on #78
(oops, there are a couple bugs in the above; i'm cleaning them up now)

[2019-10-29 23:06] ariabuckles commented on #78
Putting that together with what you asked in #77 , your custom rules would look something like:

[code]

[2019-10-31 13:22] supertiger1234 commented on #78
Ah, thanks a lot, really appreciate you taking time helping 👌

[2019-10-31 13:23] supertiger1234 commented on #77
ah, I see, thank you!

[2019-10-31 13:23] #77 closed

[2019-11-01 23:23] ariabuckles commented on #78
Happy to! Glad that helped!

[2019-11-03 22:40] ariabuckles commented on #76
Hi fimkap,

This sounds like it's likely a react-native bug rather than a markdown bug, especially if this repro'd with a different package (although I'm interested in which package: if it's another simple-markdown based react-native package, it could be some awkward interaction between this project and react-native).

If you have a small project I could look at that reproduces this issue in an an

[2019-11-03 22:41] ariabuckles commented on #65
Hi @YouTwitFace! Sorry for not getting back to this in March! Work was quite busy this last year.

Did you find a resolution to this, or would it still be helpful if I take a look?

[2019-11-03 22:50] YouTwitFace commented on #65
I didn't find a solution yet. It would be very helpful if you can give me a hand.

[2019-11-03 23:17] ariabuckles commented on #65
Sorry about that!

It looks like your `text` rule is capturing too much of the input, because it doesn't have any stopping conditions. The default text rule stops on any special characters, so using the default text rule's regex/match function should solve that. I also noticed your `em` and `strong` rules don't have the more recent quality/precedence changes, which you can make use of by extending

[2019-11-03 23:22] YouTwitFace commented on #65
Thanks, I'll have a look when I can.

[2019-11-03 23:22] ariabuckles commented on #65
no rush :). Let me know if that's still having problems whenever you do :).

[2019-11-04 13:49] fimkap commented on #76
Hi,
I'll prepare a small project so you can take a look. I think another project was react-native-markdown-renderer. Thanks.

[2019-11-04 15:30] fimkap commented on #76
Here's the project:
https://github.com/fimkap/markdown-cutoff

[2019-11-04 15:39] fimkap commented on #76
the screenshot
<img width="362" alt="Screen Shot 2019-11-04 at 17 38 40" src="https://user-images.githubusercontent.com/2026502/68133977-10f96580-ff2a-11e9-8566-1d7d38d6790e.png">

[2019-11-05 22:31] ardeaf commented on #54
Hi @ariabuckles, what did you mean by this:

Is this because all the other block elements in the defaultRules assume a blank line between preceding paragraphs before they will be matched? And if we wanted to not assume a blank line, we'd have to modify all of the block elements defaultRules match properties?

Is there a big problem with doing that that made you intentionally design the rules to as

[2019-11-05 23:36] ardeaf opened #79 "Rogue return character in the reactFor array?"
I have no idea why this custom rule is showing a return character in the reactOutput array (see below for the output)

I'm trying to make a rule that matches `>!spoilers!<`, which in this case should take the text `spoilers` and render that text in react.

![image](https://user-images.githubusercontent.com/20672831/68255090-65efb700-ffd0-11e9-880a-50e4c4b94d5b.png)

The Markdown component:
[code]

[2019-11-06 00:06] ardeaf commented on #79
Well I ended up fixing it by changing the regex to make sure the closing tag is the end of the regex: `match: anyScopeRegex(/^>!([\s\S]+?)!<$/),`

Though, I'm not 100% sure if that'll break something else.

[2019-11-06 00:52] ardeaf commented on #79
With some further tweaks this seems to be the proper way to do it. I set order to 0 so it has the highest priority:

[code]

[2019-11-09 00:57] ariabuckles commented on #79
Hi!

I think you've found a great solution to this, but to to into some detail about why I think you were seeing issues earlier:

This looks to me like the earlier rules were likely matching at a block scope, before a paragraph had been created. This left a rogue newline at the end of the input, which should be matched by the newline rule, which is:

[code]

So a few ways you can fix it (one of wh

[2019-11-20 11:55] supertiger1234 commented on #78
Hey, so I recently noticed that with that code, it doesn't check properly :( for example:
This works fine:
`google.com`
but does doesn't:
`hello, google.com is dope!`

[2019-11-26 19:00] nurdism opened #80 "Typescript, dependency issues and missing definitions"
Using the version 7.1, type definitions for `markdown.htmlFor` & `markdown.ruleOutput` are missing, and I'm running into an issue with the dependencies labeled in the package:

[code]
I'm using `@types/node@^12.0.0` witch is causing a ton of compile errors, the @types packages should be labeled `peerDependencies`.

[2019-12-01 21:23] ardeaf commented on #79
Thanks.

[2019-12-01 21:23] #79 closed

[2019-12-02 15:02] YouTwitFace commented on #65
It works, thanks. 👍

[2019-12-02 15:03] #65 closed

[2019-12-30 22:09] ariabuckles commented on #80
Hi! Thanks for trying the typescript support! Sorry for the late response!

Regarding `markdown.htmlFor` & `markdown.ruleOutput`, there's a new `markdown.outputFor` that should handle both of those cases more simply, which has type support:

[code]

This does require that you have the `markdown.defaultRules.Array` rule in your rules, so if you're making custom rules not extended from `markdown.def

[2020-01-02 20:12] andangrd opened #81 "list error when it has '&' at the end of line"
I'm getting an odd behavior of the parser,
it marks this symbol `&` as a new paragraph under the `list`.

[code]

result :
- test1
  &
- test2
- test3

Not sure either, but I think the problem is on regex for parsing `list`
does anyone have any idea for this issue, please?

[2020-02-05 17:49] mickaelzhang opened #82 "Transform only specific type to an element"
Hi, I've been working on a component recently where we want to support only a subset of the element, basically only `paragraph`, `strong` and `link` for now.

For example:

[code]

Would render the appropriate bold, link and paragraph tag but for the bullet point, I want it to be rendered raw.

Is there a way to do that with the library? I've tried to only use my rules and not spread the default o

[2020-02-11 06:31] ariabuckles commented on #82
You should be able to do that with only your rules and not spreading the default, with one addition: you'll need the `text` rule to specify what happens to text that isn't matched by another rule (likely where your error was coming from).

[code]

-----

One thing you might run into with the bullet points is that by default markdown treats multiple lines like that as part of a paragraph and ignore

[2020-02-11 07:14] ariabuckles commented on #81
Sorry for the late response!

This usually happens because punctuation causes the text nodes to be split up, and the styling of the system you're in isn't treating those adjacent nodes as inline text.

I made a change to simple-markdown a while back that makes this easier to avoid: if you use `ruleOutput` rather than `reactFor(ruleOutput())`, it should join adjacent text nodes and avoid this probl

[2020-02-17 19:30] andangrd commented on #81
perfect...
thanks @ariabuckles

[2020-02-17 19:30] #81 closed

[2020-02-27 12:06] niksy commented on #59
Is there any possiblity of having this kind of output as option inside this module? I’m working with Vue component which could benefit from generic joined output. Currently, React output is fine for everything, but it’s tightly coupled to implementation.

[2020-02-29 21:33] ariabuckles commented on #59
@niksy I think so! I haven't written good docs for this yet (sorry >_<) but something similar is possible by providing an `Array:` rule, it just happens during output time rather than parse time.

Conceptually, the `Array:` rule specifies how to output an array found in the AST, like most rules specify how to output a node of a specific type found in the AST.

The [default `Array` rule for react](

[2020-03-05 20:07] supertiger1234 commented on #78
Hey there! I don't know if a new update broke something or what but when typing `google.com google.com google.com```, it seems like only the odd ones turn into links 🤔 Any help please?
Thanks

[2020-03-15 08:01] Nevvulo opened #84 "Custom newline/hard-break rule with React parser"
Hi there! I'm having some issues creating a custom rule that will allow *all* newlines to be treated as a hard-break, here's an example of the behaviour I'm looking for:

**`Line 1\nLine 2\n\nLine 4\n\n\n\nLine 8\nLine 9\n\nLine 11`**
should return:
| Content | Raw
| --------- | ---
| `Line 1`  | `Line 1<br />`
| `Line 2`  | `Line 2<br />`
|               | `<br />`
| `Line 4`  | `Line 4<br />`
|

[2020-04-05 10:58] VivekNeel opened #85 "Hi do you have plans to support superscript/subscript?"

[2020-06-10 15:41] kopax opened #86 "Android error: Cannot add a yoga node to a parent without a measure function"
While testing this exact markdown: https://github.com/mientjan/react-native-markdown-renderer/blob/master/README.md

I have the following error:

    Android error: Cannot add a yoga node to a parent without a measure function!

This is how I render the markdown:

[code]

This is how simple-markdown is called:

https://github.com/CharlesMangwa/react-native-simple-markdown/blob/277a41b56d84707fe300

[2020-06-10 18:59] kopax opened #87 "Markdown list processor is wrong, spacings are not trimed at all"
This markdown:

[code]

Render as follow:

![image](https://user-images.githubusercontent.com/1866564/84307481-3e139380-ab5d-11ea-81e9-3b2154f3252c.png)

This is what I expect:

- test
 - test
- test
- test
  - test
                       - test

[2020-06-16 04:48] jamiebuilds opened #88 "Return start/end positions on AST nodes"
It would be really nice if AST nodes had start/end positions for every node:

[code]

Right now it's impossible to reconstruct this data from just the AST.

[2020-06-17 01:05] ariabuckles commented on #88
Hey @jamiebuilds ! I follow you on twitter! (also interviewed to join the discord product infra team ~6 months ago but sadly got a really good offer from another place that felt like a slightly better fit. Sad to miss the opportunity to work with you though!)

This has been something I've been interested in for a while (it's always tough to carve out time to work on this, so I've got drafts of thi

[2020-06-18 18:31] jamiebuilds commented on #88
Hey @ariabuckles!

I've experimented with the some of this. I built a small editor on top of [Slate](https://www.slatejs.org/) that uses some of the same code structures as in simple-markdown.

<img width="877" alt="Screen Shot 2020-06-18 at 11 24 30 AM" src="https://user-images.githubusercontent.com/952783/85057970-491a8500-b156-11ea-9749-cbca42404b9b.png">

In that editor, I apply all the styles

[2020-09-09 08:44] niksy commented on #59
Just wanted to chime in regarding Vue/React dilemma—we’re using React implementation with Vue components and it works great! It’s still coupled to React-specific implementation, but we’ve managed to create Vue components easily.

[2020-11-30 14:21] pwntester opened #92 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2021-01-06 03:09] ariabuckles commented on #92
Hi @pwntester !

Thank you so much for contacting me! Sorry about the late response; I've been struggling a lot during the pandemic.

I'd love to hear the details about this at aria+security@toole1.com , and added a [security policy](SECURITY.md).

(I don't have admin rights to make security advisories on the repo as I no longer work at Khan Academy, but I continue to be the maintainer for this pr

[2021-01-07 11:28] pwntester commented on #92
Thanks, just sent you the report

[2021-01-07 11:28] #92 closed

[2021-01-08 03:27] ariabuckles commented on #92
Fixed in #95 / version `0.7.3`

Thanks again @pwntester !

[2021-01-11 13:21] twouters opened #96 "emphasis mixed in text and link description breaks link parsing"
The emphasis in the following example takes precedence over link detection while I think it should be the other way around?

[code]

GFM results in (as expected): text containing _emphasis start breaks when followed by [link text with emphasis_ end](https://example.com).

simple test to show *unexpected* behavior:

[code]

[2021-01-11 13:25] twouters commented on #96
Additional test to show *expected* behavior:

[code]

[2021-01-12 10:13] ariabuckles commented on #96
Hi @twouters, thanks for mentioning this!

I took a look at this example and the example you have at https://github.com/Sorunome/slack-markdown/issues/3 . Thanks for the concrete examples, they're really helpful!

My initial thoughts are:

1. `text with _em before [link with em_ in it](http://example.com)` doesn't seem well-formed to me. I want simple-markdown to match reasonable behaviour for mos

[2021-01-12 11:43] twouters commented on #96
Hi,

I don't have control over the upstream message, since they are automated messages from monitoring services which we receive on Slack (those messages are then bridged to Matrix using Soru's slack-markdown as one of many other components.)

I did indeed notice the missing `\b` in slack-markdown and submitted a PR before reporting the issue here, since it didn't fix all my usecases.

While I'm t

[2021-01-28 22:51] ariabuckles commented on #96
Sorry for the slow response!

I think bold tags in simple-markdown don't have the same `\b` guards (because at the time, asterisks in input were much less common/problem-causing than underscores), so it that might be causing the problems. But I'd be happy to accept fixes to that if that would help your usecase!

[2021-02-19 14:03] Diamond-Frost opened #98 "Cannot change image syntax"
I'm writing a Documentation server and using simple-markdown for markdown handling, and adding syntax nodes (i.e. checkboxes, etc), and upon attempting to add syntax to easily change image sizes, it failed me. I am unable to change the syntax, as once activating my new syntax, the image will be parsed like a link with a preceding "!" (I tested the regex multiple times over and over, all tests have

[2021-02-22 05:32] ariabuckles commented on #98
Hi @Diamond-Frost !

Image sizes sound really useful for authors; I love it.

I'm trying to reproduce the issue, but your rule is working for me with the following test code:

[code]

that prints the following for me:

[code]

Is there any chance you didn't add your image rule to a rules object, and construct a parser from that?

If it's possible to send me the whole file or test case, I'd be happ

[2021-03-23 11:55] Diamond-Frost commented on #98
Hello, I've had the project on hold for a bit now due to work, but I've just tried your rule, and it also was overruled by the link syntax (I'm using Next.js and have a local link syntax, which works fine, the `SimpleMarkdown.defaultRules.link` syntax is the one overruling the image. I've tried with the local link syntax removed from the rules object, which still didn't change anything. I'll get b

[2021-03-23 12:47] Diamond-Frost commented on #98
I've uploaded it to [GitHub](https://github.com/Diamond-Frost/NextDocument) now, in which I've also created a test file, which oddly enough works, however, in a different file, which is then supposed to be used in the finished version, it cannot import a file (it can import the test file however)

[2021-03-23 12:51] Diamond-Frost commented on #98
Nevermind, the issue was my usage. I've had a space in the title, which the image syntax you provided did not allow, however, upon discovering this, I've changed it and the file works now, thank you for your patience and implementation.

[2021-03-23 12:51] #98 closed

[2021-08-16 21:54] uuykay opened #109 "Syntax tree not recognising headings, separating full stops, and not separating lists"
Hello!

I like this project, because I am looking to create a syntax tree out of markdown (in order to do my own JSX parsing). However, after running the example in the Readme, the syntax tree seems to have issues on event some basic cases. For example, this is my node script:

[code]
And this was my test.md file
[code]

And finally, after running the script, this was the full output:

[code]
Some

[2021-09-21 09:31] AlexanderLohmeyer opened #110 "Three not continiuing asterisks breaks parsing"
Hey,
the following String does not get parsed correctly:
```***Test1* Test2 *Test3***``` leads to a non-correct parsing result.

Its supposed to parse everything bold and Test1 + Test3 italic. But the output is everything Italic and nothing bold (instead the asterisks gets rendered).

[CommonMark Demo](https://spec.commonmark.org/dingus/?text=***Test*%20Test%20*Test***)

It also works fine when I

[2021-12-14 11:09] lukewis opened #111 "Question: How to apply styling to react-rendered output"
Hello!  Thank you so much for this library!  I love the focus that it has on extensibility!  One thing that I've been struggling with is how to apply styling to the output from SimpleMarkdown.defaultReactOutput.  I spent some time googling as well as exploring this repo looking for examples, but have come up empty so far.  Any tips to point me in the right direction?

A bit of relevant info.......

[2021-12-17 09:52] gkartalis opened #112 "Question: Markdown Lists"
Hi! :wave:
I work in a [project](https://github.com/artsy/eigen) that uses `simple-markdown` as a dependency.

I noticed the following:

When we have a paragraph with more than a sentence that starts with a `-` like:

[code]

the output of [parserFor(rules)](https://github.com/artsy/eigen/blob/cd5b8d222bdc027d375d253b5c8053ec3fa40d95/src/lib/utils/renderMarkdown.tsx#L262-L265) is the following:

[

[2022-05-20 09:48] adscud commented on #111
@lukewis have you found a way to use it with RN ?

[2022-05-20 11:22] lukewis commented on #111
@adscud unfortunately i have not

[2022-05-20 11:36] adscud commented on #111
@lukewis I use markdown-it, it seems to be better.

[2022-09-23 10:30] jawakarD commented on #84
I know this issue is old, this is for anyone who is looking for similar solution.

I've also tried to do the same, but it's not working. The workaround I did is to add support to turn `\ + ENTER` to become a line break.

Some markdown parser supports to add multiple `\` which will be converted to `<br>`. We can do the same here with a simple new rule.

[code]